# Requerimientos principales para análisis y modelado en notebooks
jupyter
pandas
numpy
matplotlib
seaborn
scikit-learn
xgboost
lightgbm
statsmodels
plotly
datosgobmx
openpyxl
folium
geopandas
mlflow
tqdm
requests
altair
